#nav
{
	margin: 0px;
	padding: 0px;
}

#nav li
{
	display:inline;
	margin: 0px;
	padding: 0px;
}

#nav ul
{
	position: absolute;
	top: 1%;
	left: 60%;
}

#navbar {
	width: 1366px;
	height: 45px;
	background-color: black;
}

.lien {
	background-color: red;
	color: white;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	font-style: italic;
	background-color: white;
	color: red;
	transition: 0.5s;
}
.titresindex {
	position: absolute;
	left: 40%;
	color: white;
}

#prenom {
	position: absolute;
	top: 45%;
	left: 25%;
	font-family: Chalkduster, fantasy;
	writing-mode: vertical-lr;
	text-decoration: underline 3px;
}

#nom {
	position: absolute;
	top: 45%;
	left: 20%;
	font-family: Chalkduster, fantasy;
	writing-mode: vertical-lr;
	text-decoration: underline 3px;
}

#imageindex {
	position: absolute;
	left: 35%;
	top: 10%;
	border-radius: 5px;
	filter: blur(5px);
}

#imageindex:hover {
	filter: blur(0);
	transition: 0.5s;
}

#pindex {
	color: white;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top: 70%;
}

#body {
	background-image: url(../../alann/siteperso/background.jpg);
	background-size: cover;
}

#a_propos_titre {
	color: white;
	font-family:Chalkduster, fantasy;
	text-decoration: underline;
	text-shadow: 4px 4px 4px black;
	display: inline;
	position: fixed;
	right: 50%;
	left: 50%;
}

#moi {
	color: white;
	font-style: oblique 30deg;
	position: absolute;
	top: 40%;
}

#maphoto {
	position: absolute;
	right: 50%;
	left: 50%;
	top: 50%;
}

.labels {
	color: white;
	font-weight: bold;
	position: relative;
	left: 10%;
}

.Alaisepp {
	position: relative;
	left: 10%;
	display: inline-block;
	background-color: whitesmoke;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
	border-radius: 5px;
	width: 202px;
	height: 22px;
}

.Alaisep {
	position: relative;
	left: 10%;
	top: 30%;
	display: inline-block;
	background-color: whitesmoke;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
	border-radius: 5px;
	width: 202px;
	height: 22px;
}

#titreexp1 {
    color: white;
    font-family:Chalkduster, fantasy;
    text-shadow: 4px 4px 4px black;
    text-decoration: underline 3px;
    position: absolute;
	top: 20%;
	left: 20%;
}

#titreexp2 {
	color: green;
	font-weight: bold;
	text-shadow: 4px 4px 4px black;
	text-decoration: underline;
	position: absolute;
	top: 25%;
	left: 20%;
}

.titresexp {
	
}

#logocbg {
	position: absolute;
	top: 35%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

.menureseau {
	position: absolute;
	left: 0%;
	top: 50%;
	border: 2px solid black;
	width: 30px;
	height: 60px;
	background-color: #061cff;
	box-shadow: 5px 0px 5px #061cff;
    /*display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;*/
}

.menureseau ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
}

/*.menureseau ul li {
	position: relative;
	list-style: none;
	margin: 0 20px 
}*/

.iconesreseau {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
}

#imgbg {
	position: absolute;
	top: 40%;
	left: 35%;
	color: white;
}

#brevet {
	position: absolute;
	top: 55%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

#imgbrevet {
	position: absolute;
	top: 55%;
	left: 35%;
	color: white;
}

#ecole3villages {
	position: absolute;
	top: 75%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

#imgecole3villages {
	position: absolute;
	top: 75%;
	left: 35%;
	color: white;
}

#amnesiabodega {
	position: absolute;
	top: 95%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

#imgamnesiabodega {
	position: absolute;
	top: 95%;
	left: 35%;
	color: white;
}

#jettreport {
	position: absolute;
	top: 115%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

#imgjettreport {
	position: absolute;
	top: 115%;
	left: 35%;
	color: white;
}

#bac {
	position: absolute;
	top: 135%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

#imgbac {
	position: absolute;
	top: 135%;
	left: 35%;
	color: white;
}

#manala {
	position: absolute;
	top: 155%;
	left: 20%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

#imgmanala {
	position: absolute;
	top: 155%;
	left: 35%;
	color: white;
}

#butontelecharger {
	width: 85px;
	height: 85px;
	border-radius: 100%;
	border: solid black;
	background-color: navy;
	position: absolute;
	top: 20%;
	left: 70%;
}

.formationimg {
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

.formationtxt {
	color: white;
}